* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* https://www.youtube.com/watch?v=6CQ7DYni7Bg */

html{
    height: 100%;
    overflow: hidden; /* important */
}
body{
    color: white;
    font-size: 35px;
    perspective: 1px; /* idk */
    transform-style: preserve-3d; /* idk */
    height: 100%;
    overflow-y: scroll; /* assez important */
    overflow-x: hidden;
    font-family: "Luna";
}

header{
    box-sizing: border-box;
    padding: 30vw 0 5vw; /* sizing est important */
    position: relative;  /* assez important */
    width: 100vw;
}
header h1 {
    margin-top: -100px;
}
header, header:before{
    background: 50% 50% / cover;
}
header::before{
    bottom: 0;
    content: ""; /* important */
    left: 0; /* important */
    position: absolute; /* important */
    right: 0; /* important */
    top: 0; /* important */
    display: block;
    background-image: url(https://images.pexels.com/photos/1252869/pexels-photo-1252869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); /* important */
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);/* important */
    z-index: -1; /* assez important */
    min-height: 100vh; /* important */
}

header * { 
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}