<%- include ("partials/head") -%>

<div class="container">
    <form method="POST" action="/" class="shorten-form">
        <input name="longUrl" type="text" class="search-txt" placeholder="Your link here..." required>
        <button type="submit" class="search-btn"><i class="fas fa-arrow fa-arrow-right"></i></button>
    </form>
</div>

<%- include ("partials/footer") -%>